<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.siteLanguage %>" class="has-navbar-fixed-top no-js">
  <head>
    <!-- 📣 Mandatory for Good SEO -->
    <title><%= htmlWebpackPlugin.options.siteTitle %></title>

    <!-- 🎫 Site Icons -->
    <!-- Will be injected by Webpack -->

    <!-- ⚙ Device Meta-->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <!-- 📋 SEO -->
    <meta content="<%= htmlWebpackPlugin.options.siteDescription %>" name="description" />
    <meta content="<%= htmlWebpackPlugin.options.siteAuthor %>" name="author" />
    <meta content="noindex, nofollow" name="robots" />

    <!-- 📱 PWA, updates colour of app bar on devices, generally brand primary colour -->
    <!-- Will be injected by Webpack -->

    <!-- 😌 Scripts added to the head should get async or defer -->
    <!-- Will be injected by Webpack before the end of body -->

    <!-- 😌 CSS from external sites like CDN - we tell the browser to resolve DNS quickly with rel="dns-prefetch" -->
    <!-- Is only needed if you include third party plugins, uncomment if needed -->
    <!-- <link rel="dns-prefetch" href="css/path-to-css" /> -->

    <!-- 😌 Grab asset and cache it, can be <img /> or <script> too -->
    <!-- The CSS is handled by webpack, preload if using third party plugins -->
    <!-- <link as="style" rel="preload" href="https://unpkg.com/sanitize.css" /> -->
  </head>

  <body class="sitename" itemscope itemtype="http://schema.org/WebPage">
    <nav id="main-navbar" class="navbar is-primary is-fixed-top is-bottom-mobile" data-bottom-on="small,mobile">
      <div class="container">
        <div class="navbar-brand">
          <a
            id="logo"
            class="navbar-item has-text-weight-bold"
            href="https://github.com/ioulian/frontend-workflow"
            target="_blank"
            rel="noopener noreferrer"
          >
            Frontend workflow
          </a>
        </div>
      </div>
    </nav>
    <header class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                You are offline
              </h1>
              <h2 class="subtitle is-4">
                As you are surfing offline and this page hasn&quot;t been cached, we can't show it to you. Please wait
                and reconnect to internet or you can normally view visited pages.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <div class="content">
              <p>
                You are seeing this page because you are surfing offline. This site is optimized for offline usage but
                this page is not yet cached. You can view already visited pages while you are waiting for network.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer has-text-centered" itemscope itemtype="http://schema.org/WPFooter" role="contentinfo">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p>
              <strong class="has-text-weight-semibold">
                Code copyright 2019
                <a
                  href="https://github.com/ioulian"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="has-link-underline"
                  >Yulian Alexeyev</a
                >.
              </strong>
            </p>
            <p>
              <small>
                Code released under the
                <a
                  href="http://opensource.org/licenses/mit-license.php"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="has-link-underline"
                  >MIT license</a
                >.
              </small>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
