@import './../bootstrap';

.fw-full-size-in-parent {
  @include fw-full-size-in-parent();
}

.demo-image {
  @include fw-aspect-ratio(960, 640);

  > * {
    object-fit: cover;
  }
}

img.fw-full-size-in-parent {
  object-fit: cover;
}

.js-in-view-animation {
  > h3 {
    margin-top: 1rem;
  }
}

.same-height-example {
  &::after {
    display: block;
    content: '';
    clear: both;
  }

  &__item {
    width: 50%;
    float: left;
    border: 1px dashed $gray-400;
  }
}

.jumbotron {
  h1,
  h2 {
    text-shadow: 2px 2px 1px rgba(darken($primary, 50%), 0.5);
    color: $color-white;
  }
}

.demo-breakpoint {
  &::before {
    @include fw-set-breakpoints(content, 'xs' 'sm' 'md' 'lg' 'xl');

    font-weight: bold;
  }
}

.swiper-container {
  width: 100%;
  height: 400px;
  border: 1px solid $gray-400;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-demo-link-underline {
  @include fw-link-underline(10px, rgba($orange, 0.25));
}

[data-fancybox='demo-gallery'] {
  display: inline-block;

  img {
    width: 150px;
    height: auto;
  }
}

.fw-expandable {
  $root: &;

  &__toggle {
    background-color: $primary;
    padding: 0.75rem 1rem;
    position: relative;
    text-align: left;
    width: 100%;
    border: 0;
    font-size: 1rem;

    p {
      margin-bottom: 0;
    }

    &,
    strong {
      color: $color-white;
    }

    &::after {
      border: 3px solid $color-white;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: ' ';
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-10%) rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      right: 1rem;
      transition: transform $duration-slow $swift-alt;

      #{$root}--open & {
        transform: translateY(25%) rotate(-225deg);
      }
    }
  }

  &__content {
    padding: 0.75rem 1rem;
    border: 1px solid $gray-200;
  }
}

.fw-accordion {
  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    > h4 {
      margin-bottom: 0;
    }
  }
}

.app-demo-svg-sprites {
  > svg {
    transition: fill $duration-fast;
    margin-right: 0.5rem;
  }

  > svg,
  > img {
    width: 2rem;
    height: 2rem;
    display: inline-block;

    &:nth-child(1) {
      fill: $primary;
    }

    &:nth-child(2) {
      fill: $code-color;
    }

    &:hover {
      fill: $danger;
    }
  }
}

.app-demo-svg-sprites-credits {
  font-size: 0.75rem;
  margin-top: 1rem;
}

.fw-colcade {
  &__list {
    margin-bottom: -30px;
    overflow: hidden;
  }

  &__grid-item {
    margin-bottom: 30px;
  }
}

.demo-tabs {
  > div {
    &:not(:first-child) {
      margin-top: 10px;
      border: 1px solid $gray-400;
      padding: 8px 10px;
    }

    &:first-child {
      padding: 4px;
      border: 1px solid $gray-400;
      background-color: $gray-200;

      > div {
        display: inline-block;
        margin-right: 4px;
        padding: 8px 10px;
        border: 1px solid $gray-400;
        background-color: $color-white;
        cursor: pointer;

        &[aria-selected='true'] {
          background-color: $gray-800;
          color: $color-white;
        }
      }
    }
  }
}
