@charset "utf-8";

// Import bootstrap that handles variables and mixins loading
@import './bootstrap';

// Improt base styles from this framework
@import './vendor/base/scss/styles';

// Import Bulma framework
@import './../node_modules/bulma/bulma';

// Un-comment if you want to debug basic HTML errors
// @include fw-debug();

// Custom spacings as Bulma doesn't provide any
@include fw-setup-spacings();

// Add your styles here
