@charset "utf-8";

@import './bootstrap';
@import './vendor/base/styles';
@import './../node_modules/bulma/bulma';

// Custom spacings as Bulma doesn't provide any
@include setup-spacings();

// Add your styles here
